<!doctype html>
<html>
<head>
  <title>gescript</title>
  <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/akrapukhin/jf_images/master/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/akrapukhin/jf_images/master/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/akrapukhin/jf_images/master/favicon-16x16.png">
</head>
<body>
	<t>uniqCounter = {{ unique }}</t></br>
	<t>totalCounter = {{ total }}</t>
</body>
</html>
